{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign product_form_id = 'ProductForm-' | append: section.id | append: product.id
  assign variant_select_id = 'VariantSelect-' | append: section.id
-%}
<main-product class="product block" data-section-id="{{ section.id }}">
  <div class="product__layout desktop:grid desktop:grid-cols-2">
    <div class="product__media">
      <theme-carousel class="block">
        <div id="ProductImages" class="swiper w-full" js-carousel>
          <div class="swiper-wrapper">
            {% for media in product.media %}
              {% case media.media_type %}
                {% when 'image' %}
                  <div class="swiper-slide" js-carousel-slide>
                    {% render 'image', image: media, image_desktop: media %}
                  </div>
                {% when 'video' %}
                  <div class="swiper-slide" js-carousel-slide>
                    {{ media | video_tag: controls: true, autoplay: false, loop: true, mute: false }}
                  </div>
                {% when 'external_video' %}
                  <div class="swiper-slide" js-carousel-slide>
                    {{ media | external_video_tag }}
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </theme-carousel>
    </div>
    <div class="product__info">
      <h1 class="product__title">{{ product.title }}</h1>
      <div class="product__price-wrapper flex">
        {% if product.compare_at_price > product.price %}
          <p class="product__price mr-8 line-through">{{ product.compare_at_price | money }}</p>
        {% endif %}
        <p class="product__price">{{ product.price | money }}</p>
      </div>
      <div class="product__description">
        {{ product.description }}
      </div>
      <product-form>
        {%- form 'product',
          product,
          id: product_form_id,
          class: 'form',
          novalidate: 'novalidate',
          js-product-form: true
        -%}
          <product-options
            data-variant-select-id="{{ variant_select_id }}"
            data-update-variant-select="true"
            data-product="#ProductJson"
          >
            {% render 'product-variant-select',
              variants: product.variants,
              id: variant_select_id,
              current_variant: current_variant
            %}
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                {% render 'product-option',
                  option: option,
                  type: 'swatch',
                  section_id: section.id,
                  product_id: product.id
                %}
              {% endfor %}
            {% endunless %}
          </product-options>

          <quantity-input>
            <label for="quantity-input">{{ 'products.product.quantity.label' | t }}</label>
            <button
              name="minus"
              arial-label="{{ 'products.product.quantity.decrease' | t: product: product.title }}"
              title="{{ 'products.product.quantity.decrease' | t: product: product.title }}"
              type="button"
              js-quantity-button-minus
            >
              &minus;
            </button>
            <input id="quantity-input" type="number" name="quantity" value="1" min="1" max="10">
            <button
              name="plus"
              arial-label="{{ 'products.product.quantity.increase' | t: product: product.title }}"
              title="{{ 'products.product.quantity.increase' | t: product: product.title }}"
              type="button"
              js-quantity-button-plus
            >
              &plus;
            </button>
          </quantity-input>

          <button
            class="btn relative"
            type="submit"
            {% unless current_variant.available %}
              disabled
              aria-disabled="true"
            {% endunless %}
            js-add-to-cart
          >
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </button>
        {%- endform -%}
      </product-form>
    </div>
  </div>

  <script type="application/json" id="ProductJson">
    {{ product | json }}
  </script>
</main-product>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "tag": "section",
  "name": "Product",
  "settings": []
}
{% endschema %}
